services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    expose:
      - "8000" # host:container
    networks:
      - webnet
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - webnet
    restart: always

volumes:
  postgres_data:

networks:
  webnet:
    driver: bridge
