@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #fff;
}


button {
  width: 150px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--button-hover-bg);
}

label {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 50%;
}

input,
select {
  width: 100%;
  background-color: transparent;
  color: var(--slidebar-item-text-color);
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
}

input:focus,
select:focus {
  outline: none;
  color: var(--button-bg);
  border-bottom: 1px solid var(--button-bg);
}

input[type='file']::file-selector-button {
  display: none;
}

.create-field-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--slidebar-item-hover-bg);
  margin-bottom: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.3rem 1rem;
  transition: all 0.3s ease;
}

.create-field-section:hover {
  background-color: var(--slidebar-item-hover-bg);
  color: var(--button-bg);
}
